.interactive {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-wrap: wrap;
  width: 166px;
  height: 108px;
  z-index: 1;
  opacity: 0;
  transition-property: opacity;
  transition-duration: 250ms;
  transition-delay: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.interactive__button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: 1px solid $hero-banner-font-color;
  padding: 0;
  margin-right: 8px;
  margin-bottom: 8px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:last-child {
    display: inline-flex;
    align-items: center;
    width: 166px;
    margin: 0px;
    font-family: $primary-font;
    font-size: $text-size;
    line-height: 32px;
    text-transform: uppercase;
    color: $new-products-bg-color;
    background-color: $signature-name-bg-color;
  }

  &:nth-child(3) {
    margin-right: 0;
  }

  &:hover,
  &:focus {
    background-color: $accent-color;
  }
}

.iteractive__icon {
  display: block;
  width: 32px;
  height: 32px;
  fill: $product-heading-text-color;
}

.interactive__text {
  display: block;
  padding-left: 10px;
}
