$text-color: #555252;
$accent-color: #1abc9c;
$menu-text-color: #0f0101;
$heading-text-color: #515151;
$product-heading-text-color: #fff;
$user-nav-font-color: #fefefe;
$hero-banner-font-color: #fffcfc;
$signature-price-bg-color: #8c8c8c;
$signature-name-bg-color: #323232;
$signature-price-bg-focus-color: #7fd9c7;
$new-products-bg-color: #e9f0fd;
$primary-font: 'Open Sans', sans-serif;
$signature-font: 'Roboto', sans-serif;
$text-size: 14px;
$button-text-size: 16px;
$product-signature-size: 18px;
$blog-signature-font-size: 18px;
$heading-font-size: 48px;
$logo-font-size: 30px;
